.small-bullet-text ul {
    font-size: smaller; /* Adjust the size as needed */
}

/* .bg-cover {
  background-image: url('../../images/backgrounds/GGGI Cambodia_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;      
  background-color: #16af9880;

  background-blend-mode: overlay;

  min-height: 100vh; 
} */


.beat-title h1 {
    font-size: 5rem;
    margin-bottom: 0rem !important;
}