{% extends 'account/_auth.html' %}
{% load crispy_forms_tags %}

 {% block action_content  %}
    <a href="{% url 'account_signup' %}">
      <button type="button" class="btn btn-outline btn-sm">Sign Up</button>
    </a>
  {% endblock action_content %}

{% block auth_content %}
 
  <div class="m-auto flex flex-col w-full max-w-[22.25rem]">
            <h1
              class="text-xl font-bold text-center text-(--text--strong-950)"
            >
              Login
            </h1>
            <form  method="post" class="flex flex-col">
              <div class="crispy-forms"> 
                {% csrf_token %} {{ form|crispy }}
              </div>
              {% comment %} <fieldset class="fieldset">
                <legend class="fieldset-legend">Email address*</legend>
                <label class="input validator w-full">
                  <span
                    data-icon="mail-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <input
                    type="email"
                    placeholder="someone@gmail.com"
                    required
                  />
                </label>
                <p class="validator-hint">Please enter a valid email address</p>
              </fieldset>

              <fieldset class="fieldset">
                <legend class="fieldset-legend">Password*</legend>
                <label class="input validator w-full">
                  <span
                    data-icon="lock-2-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <input
                    type="password"
                    placeholder="Enter password"
                    required
                    minlength="8"
                  />
                  <span
                    data-icon="eye-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                </label>
                <p class="validator-hint">
                  Password must contain at least 8 characters
                </p>
              </fieldset> {% endcomment %}

              <button class="btn btn-primary w-full" type="submit">
                Login
              </button>
            </form>
            <div class="divider">OR</div>
            <button class="btn btn-accent w-full">
              <span data-icon="google"></span> Sign up with Google
            </button>
            <span
              class="text-sm/5 text-center mt-5 text-[var(--text--strong-950)]"
              >Don't have an account.
              <a href="{% url 'account_signup' %}" class="font-bold"
                >Sign up</a
              ></span
            >
          </div>
   


{% endblock auth_content %}
