{% extends 'account/_auth.html' %}
{% load crispy_forms_tags %}
 
{% load static %}
 
{% block action_content %}
    <a href="{% url 'account_login' %}">
      <button type="button" class="btn btn-outline btn-sm">Login</button>
    </a>
{% endblock action_content %}

{% block auth_content %}
<div class="m-auto flex flex-col w-full max-w-[22.25rem]">
            <h1
              class="text-xl font-bold text-center text-(--text--strong-950)"
            >  Sign up </h1>
            <p
              class="text-sm text-center mt-2 mb-5 text-(--text--sub-600)"
            >
              Fill in the details below to create your account and track the
              carbon mission from your building project.
            </p>

            <form  method="post" class="flex flex-col">
                {% csrf_token %} {{ form|crispy }}
              {% comment %} <fieldset class="fieldset">
                <legend class="fieldset-legend">Full name*</legend>
                <label class="input validator w-full">
                  <span
                    data-icon="user-6-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <input
                    type="text"
                    placeholder="First name & Last name"
                    required
                  />
                </label>
                <p class="validator-hint">This field is required</p>
              </fieldset>

              <fieldset class="fieldset">
                <legend class="fieldset-legend">Email address*</legend>
                <label class="input validator w-full">
                  <span
                    data-icon="mail-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <input
                    type="email"
                    placeholder="someone@gmail.com"
                    required
                  />
                </label>
                <p class="validator-hint">Please enter a valid email address</p>
              </fieldset>

              <fieldset class="fieldset">
                <legend class="fieldset-legend">Password*</legend>
                <label class="input validator w-full">
                  <span
                    data-icon="lock-2-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <input
                    type="password"
                    placeholder="Enter password"
                    required
                    minlength="8"
                  />
                  <span
                    data-icon="eye-line"
                    data-color="var(--icon--soft-400)"
                  ></span>
                </label>
                <p class="validator-hint">
                  Password must contain at least 8 characters
                </p>
              </fieldset> {% endcomment %}

              <button class="btn btn-primary w-full" type="submit">
                Create account
              </button>
            </form>
            <div class="divider">OR</div>
            <button class="btn btn-accent w-full">
              <span data-icon="google"></span> Sign up with Google
            </button>
            <span
              class="text-sm/5 text-center mt-5 text-(--text--strong-950)"
              >I already have an account.
              <a href="{% url 'account_login' %}" class="font-bold"
                >Log me in</a
              ></span
            >
          </div>
 

{% endblock auth_content %}
