{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Update Profile</h2>
  <form method="post" action="{% url 'update_profile' %}">
    <strong>Account Information</strong>
    {% csrf_token %}
    {{ user_form|crispy }}
    <strong>Profile Information</strong>
    {{ profile_form|crispy }}
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Update</button>
      <button class="btn btn-danger"
              hx-confirm="Are you sure you want to delete your profile?"
              hx-delete="{% url 'update_profile' %}">
                  Delete
      </button>
    </div>
  </form>
{% endblock %}