# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv*

# secrets
secrets
.env*

*.ipynb
*.xlsx
*.csv

# Keep csv files in data folder
!/pages/data/*.csv

# django
staticfiles

#JetBrains IDEs
.idea/
.idea
node_modules
CLAUDE.md
.gitignore
.github/copilot-instructions.md
.vscode/launch.json
.vscode/launch.json
.gitignore
HEAT-ALCBT.code-workspace
