<form class="grid grid-cols-2 gap-x-2 gap-y-1">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Building type<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full">
      <select class="select w-full">
        <option disabled selected>Pick a building type</option>
        <option>Office</option>
        <option>Residential</option>
        <option>Commercial</option>
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Type of apartments<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full">
      <select class="select w-full">
        <option disabled selected>Pick a type of apartments</option>
        <option>Studio</option>
        <option>1 Bedroom</option>
        <option>2 Bedroom</option>
        <option>3 Bedroom</option>
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset col-span-2">
    <legend class="fieldset-legend">
      Area climate type<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full flex relative">
      <select class="select w-full">
        <option disabled selected>Select climate type</option>
        <option>Hot</option>
        <option>Cold</option>
        <option>Mixed</option>
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Assessment period (years)<span class="text-[var(--state--error--base)]"
        >*</span
      >
    </legend>
    <label class="input validator w-full">
      <input type="number" placeholder="eg. 10" required />
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Construction year</legend>
    <label class="input w-full">
      <input type="text" placeholder="eg. 2020" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Total floor area <span class="text-[var(--text--sub-600)]">(m²)</span>
    </legend>
    <label class="input w-full">
      <input type="number" placeholder="eg. 340" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">m²</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Conditioned floor area
      <span class="text-[var(--text--sub-600)]">(m²)</span>
      <span
        data-icon="info-custom-fill"
        data-size="20"
        data-color="var(--icon--disabled-300)"
      ></span>
    </legend>
    <label class="input w-full">
      <input type="number" placeholder="eg. 400" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">m²</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Room cooling temperature</legend>
    <label class="input w-full">
      <input type="number" placeholder="eg. 10" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Number of floors below ground</legend>
    <label class="input w-full">
      <input type="number" placeholder="eg. 3" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Energy consumption of building
      <span class="text-[var(--text--sub-600)]">(%)</span>
    </legend>
    <label class="input w-full">
      <input type="number" placeholder="eg. 10" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">%</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Energy monitoring & control systems</legend>
    <label class="w-full">
      <select class="select w-full">
        <option disabled selected value="">eg Yes</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </label>
  </fieldset>
</form>
