<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beat Heat</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/public/output.css" />
  </head>
  <body class="min-h-screen bg-[var(--bg--base-500)] flex flex-col">
    <nav class="h-20 px-4 w-full flex items-stretch">
      <div
        class="relative flex items-center lg:justify-center justify-between w-full max-w-[78.563rem] mx-auto"
      >
        <div class="lg:absolute left-0 lg:top-1/2 lg:-translate-y-1/2">
          <img src="/src/assets/logo.svg" alt="logo" class="w-[3.688rem]" />
        </div>
        <div
          class="navbar-radio-group flex h-full w-fit relative gap-6"
          style="--navbar-radio-group-count: 2"
        >
          <input
            type="radio"
            name="navbar-radio-group"
            id="dashboard"
            checked
            style="--navbar-radio-group-index: 0"
          />
          <label for="dashboard">
            <a>
              <div>
                <span data-icon="dashboard-horizontal-fill"></span>
              </div>
              <span>Dashboard</span>
            </a>
          </label>

          <input
            type="radio"
            name="navbar-radio-group"
            id="resources"
            style="--navbar-radio-group-index: 1"
          />
          <label for="resources">
            <a>
              <span data-icon="book-shelf-fill"></span>
              <span>Resources</span>
            </a>
          </label>
        </div>
        <div
          class="lg:absolute right-0 lg:top-1/2 lg:-translate-y-1/2 flex items-center gap-4"
        >
          <button class="btn btn-ghost size-6 p-0 max-md:hidden">
            <span data-icon="question-line" data-size="24"></span>
          </button>
          <button class="btn btn-ghost size-6 p-0 max-md:hidden">
            <span data-icon="bell-simple" data-size="24"></span>
          </button>
          <button class="btn btn-ghost size-6 p-0 max-md:hidden">
            <span data-icon="settings-5-line" data-size="24"></span>
          </button>
          <button class="btn btn-ghost flex items-center gap-1 max-md:hidden">
            <div class="avatar avatar-placeholder">
              <div class="bg-primary text-primary-content w-6 rounded-full">
                <span class="text-xs">JJ</span>
              </div>
            </div>
            <span class="text-sm">Joseph J.</span>
            <span data-icon="caret-down" data-size="16"></span>
          </button>
          <button
            class="btn btn-ghost btn-sm flex items-center gap-1 md:hidden"
          ></button>
        </div>
      </div>
    </nav>
    <section
      class="flex-1 card bg-white rounded-none rounded-t-[var(--radius-24)] border border-[var(--stroke--soft-200)]"
    >
      <div class="max-w-[68.75rem] mx-auto w-full px-4">
        <div class="flex flex-col gap-6 w-full mt-7">
          <div
            class="flex flex-col text-2xl/[110%] font-extrabold text-[var(--text--strong-950)]"
          >
            Welcome back, Joseph
            <p class="text-sm font-normal text-[var(--text--sub-600)]">
              Last seen on:
              <span class="text-[var(--text--strong-950)]"
                >24th February, 2025 (13:00 GMT)</span
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="divider before:bg-[var(--stroke--soft-200)] after:bg-[var(--stroke--soft-200)] before:h-[0.065rem] after:h-[0.065rem]"
      ></div>
      <div
        class="card-body p-0 px-4 max-w-[68.75rem] mx-auto w-full text-[var(--text--strong-950)]"
      >
        <div
          class="flex p-[0.875rem] gap-3 bg-[var(--state--information--lighter)] rounded-[var(--radius-12)] w-full text-[var(--text--strong-950)]"
        >
          <span
            data-icon="mail-fill"
            data-color="var(--state--information--base)"
          ></span>
          <div class="flex flex-col flex-1">
            <span class="text-sm/5 font-medium">Confirm your email</span>
            <p class="text-sm/5 font-normal">
              We’ve sent a confirmation email to you. Please confirm your
              account
            </p>
          </div>
          <button class="btn btn-ghost size-6 p-0">
            <span
              data-icon="close-line"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
        <div class="flex items-center justify-between mt-6">
          <div class="flex flex-col">
            <span class="text-xl font-bold">Your buildings</span>
            <p class="text-sm font-normal text-[var(--text--sub-600)]">
              Add your buildings to access for low carbon
            </p>
          </div>
          <div class="flex items-center gap-2">
            <ul class="filter-radio-group flex">
              <li>
                <input
                  type="radio"
                  name="filter-radio-group"
                  id="list"
                  checked
                />
                <label for="list">
                  <span data-icon="list-indefinite"></span>
                </label>
              </li>
              <li>
                <input type="radio" name="filter-radio-group" id="map" />
                <label for="map">
                  <span data-icon="road-map-line"></span>
                </label>
              </li>
            </ul>
            <a href="/src/pages/dashboard/add-building/add-building.html">
              <button class="btn btn-primary rounded-lg">
                <span data-icon="add-large-fill"></span>
                Add building
              </button>
            </a>
          </div>
        </div>
        <section class="flex flex-col flex-1">
          <div class="flex flex-col flex-1 items-center justify-center gap-4">
            <img src="/src/assets/building.png" alt="map" />
            <span class="text-sm/5 font-medium text-center"
              >You have no buildings added</span
            >
            <a href="/src/pages/dashboard/add-building/add-building.html">
              <button class="btn btn-outline rounded-lg">
                <span data-icon="add-large-fill"></span>
                Add building
              </button>
            </a>
          </div>
        </section>
      </div>
    </section>

    <dialog
      id="account_success_modal"
      class="modal modal-bottom sm:modal-middle w-screen"
    >
      <div
        class="modal-box w-full max-w-[30rem] !max-h-[97vh] hide-scrollbar overflow-x-hidden overflow-y-auto flex flex-col items-center px-10"
      >
        <img src="/src/assets/confetti.png" alt="confetti icon" />
        <h3 class="text-lg font-extrabold">
          Well done your account has been created.
        </h3>
        <p class="text-sm text-[var(--text--sub-600)]">
          Please fill the fields below to finish setting your profile
        </p>
        <form class="flex flex-col w-full mt-7">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              Username<span class="text-error">*</span>
            </legend>
            <label class="input w-full">
              <span
                data-icon="user-6-line"
                data-color="var(--icon--soft-400)"
              ></span>
              <input
                type="text"
                placeholder="Username"
                required
                maxlength="150"
              />
            </label>
            <div class="label">
              <span
                data-icon="information-fill"
                data-color="var(--icon--soft-400)"
              ></span>
              <span class="text-[var(--text--sub-600)]">0 / 150</span>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              Country<span class="text-error">*</span>
            </legend>
            <label class="w-full flex relative">
              <div class="select-icon">
                <span
                  data-icon="global-line"
                  data-color="var(--icon--soft-400)"
                ></span>
              </div>
              <select class="select select-with-icon w-full">
                <option disabled selected>Pick a country</option>
                <option>Ghana</option>
                <option>Nigeria</option>
                <option>Kenya</option>
              </select>
            </label>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              Region or State<span class="text-error">*</span>
            </legend>
            <label class="w-full flex relative">
              <div class="select-icon">
                <span
                  data-icon="flashlight-line"
                  data-color="var(--icon--soft-400)"
                ></span>
              </div>
              <select class="select select-with-icon w-full" disabled>
                <option disabled selected>Pick a region or state</option>
                <option>Greater Accra</option>
                <option>Ashanti</option>
                <option>Eastern</option>
              </select>
            </label>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              City<span class="text-error">*</span>
            </legend>
            <label class="w-full flex relative">
              <label class="input w-full">
                <span
                  data-icon="building-line"
                  data-color="var(--icon--soft-400)"
                ></span>
                <input type="text" placeholder="eg. Accra" disabled required />
              </label>
            </label>
          </fieldset>
          <label
            class="label mt-4 mb-6 text-[var(--text--strong-950)] text-sm/5 font-medium"
          >
            <input
              type="checkbox"
              class="checkbox checkbox-xs rounded-[var(--radius-4)]"
            />
            Share my info with BEAT tool maintainers
          </label>

          <button type="submit" class="btn btn-primary btn-block">
            Save & Continue
          </button>
          <button
            type="button"
            class="btn btn-ghost btn-block mt-3"
            onclick="closeAccountSuccessModal()"
          >
            I'll do this later
          </button>
        </form>
      </div>
    </dialog>
  </body>

  <script type="module" src="/src/utils/icon.js"></script>
  <script>
    const accountSuccessModal = document.getElementById(
      "account_success_modal"
    );
    accountSuccessModal.showModal();

    function closeAccountSuccessModal() {
      accountSuccessModal.close();
    }
  </script>
</html>
