<!-- Own Base file to -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title class="title">{% block title %}BEAT{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
  <!-- Bootstrap CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}"/>

  {% endblock css%}
</head>
<body>
    <nav class="h-20 px-4 w-full flex items-stretch">
      <div
        class="relative flex items-center lg:justify-center justify-between w-full max-w-[78.563rem] mx-auto"
      >
        <div class="lg:absolute left-0 lg:top-1/2 lg:-translate-y-1/2">
          <a href="{% url 'home' %}"><img src="{% static 'assets/logo.svg' %}" alt="logo" class="w-[4.688rem]" /></a>
        </div>

        <div class="navbar-radio-group flex h-full w-fit relative gap-6"style="--navbar-radio-group-count: 2">  
        </div>

        <div class="lg:absolute right-0 lg:top-1/2 lg:-translate-y-1/2 flex items-center gap-4">
        </div>
      </div>
    </nav>

    <div class="container pb-2 mx-auto">
        {% block content %}
        <p>Default content...</p>
        {% endblock content %}
      </div>
      {% include 'footer.html' %}
</body>