{% extends '_base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<h1>Privacy Policy</h1>

<h2>Responsible Authority</h2>
<strong>HEAT GmbH</strong>
<p>
    Seilerbahnweg 14<br>
    61462 Königstein<br>
    Deutschland <br>
    <br>
    Tel: +49 6174 96947 0<br>
    Fax: +49 6174 9694725<br>
    E-mail: kontakt@heat-international.de<br>
    www.heat-interantional.de
</p>
<!-- TODO: replace with actual domain -->
<p><a href="www.example.com"><span style="color:red">www.example.com</span></a></p>

<strong>Data Protection Officer</strong>
<p>
    Susanne Eggers<br>
    Contact: datenschutz@gfa-group.de
</p>

<strong>Responsible Authority</strong>
<p>
    Data Protection Authority of Hessen
    <a href="https://datenschutz.hessen.de">https:// datenschutz.hessen.de</a>
</p>

<h2>Data Privacy</h2>
<p>HEAT GmbH, which operates this website, takes the protection of your personal data very seriously. We treat your personal data confidentially in accordance with statutory data protection regulations and this Data Privacy Statement.</p>
<p>Any personal data (for example name, address or email address) that is collected on our website is collected on a voluntary basis insofar as this is possible. This data will not be disclosed to any third party without your express consent.</p>
<p>Please note that data transmission via the internet (e.g., in the case of communication by email) may be subject to security gaps. It is not possible to protect such data completely against access by third parties.</p>

<h2>Purpose of data collection, processing, or urse</h2>
<p>In the context of the Webtool, personal data is used to respond to requests or inquiries, customize the site for users (e.g. show locationally relevant information), op-erate and improve the site, including usage analysis and audits, protection against fraud, spam, harassment, intellectual property infringement, crime and security risks, and to maintain and improve the safety and secu-rity of the site.</p>

<h2>Description of affected groups and their related data/ data categories</h2>
<p>Within the context of the Registration and Use of the Webtool, basic personal User information is collected, consisting of an email address, username, and voluntary city-level location information. Additionally, individu-als without registration might submit personal infor-mation through support requests.</p>

<h2>Standard periods for the dele-tion of data</h2>
<p>Personal data is deleted on a regular basis when it is no longer needed to fulfill a contract, if the person in ques-tion has not provided their separate approval to retain said data or if statutory retention obligations and dead-lines do not stipulate that data be retained for a longer period.</p>

<h2>Planned transmission of data to third countries</h2>
<p>In general, no personal data will be transmitted to third countries by electronic means. Exceptions to this are possible when there is a specific legal basis for such a transmission.</p>

<h2>Your rights</h2>
<p>You may at any time request information about the use of your personal data (according to § 15 DSGVO) or request the verification, correction or deletion of your personal data (§§ 16 and 17 DSGVO). You may also at any time request the restriction of the use or processing of your personal data (§§ 18 and 19 DSGVO), request the transmission of your personal data to third parties (§ 20 DSGVO), or object to the use of your personal data (§ 21 DSGVO).</p>
<p>If you want to exercise any of the above-mentioned rights, please send an e-mail to: datenschutz@gfa-group.de. We will endeavor to take the necessary measures as soon as possible. To that purpose, you will receive an access form to be completed, allowing you to indicate which rights you wish to exercise with regard to your personal data.</p>
<p>You also have the right to file a complaint against the use of your personal data. The competent complaints board is the Data Protection Supervisory Authority (Datenschutzaufsichtsbehörde) of Hessen.</p>

<h2>Web Fonts</h2>
<p>This site uses Bootstrap 5, which relies on native Browser fonts. For further details, see <a href="https://getbootstrap.com/docs/5.0/content/reboot/#native-font-stack.">https://devcenter.heroku.com/articles/security-privacy-compliance/</a></p>

<h2>Data privacy regarding the use of Open Street Maps</h2>
<p>This site uses the map service Open Street Maps. The provider is the OpenStreetMap Foundation, St John’s Innovation Centre, Cowley Road, Cambridge, CB4 0WS, United Kingdom (short OSMF).</p>
<p>To use the functions of Open Street Maps, it is neces-sary to store your IP address. This information is trans-ferred to one of the Open Street Map severs located in either United Kingdom, Ireland, and the Netherlands. The provider of this site has no influence on this data transmission.</p>
<p>The use of Open Street Maps is in the interest of an appealing presentation of our online offers and an easy location of the places indicated by us on the website. This represents a legitimate interest within the meaning of Art. 6 para. 1 lit. f DSGVO.</p>
<p>More information on the handling of user data can be found in OSMF’s Privacy Policy: <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy">https://wiki.osmfoundation.org/wiki/Privacy_Policy</a></p>

<h2>Server log files</h2>
<p>The provider of this website automatically collects and stores information in so-called server log files which your browser automatically transmits to us.</p>
<p>This information includes:</p>
<ul>
    <li>Browser type/ browser version</li>
    <li>Operating system being used</li>
    <li>Referrer URL</li>
    <li>Host name of accessing computer</li>
    <li>Time of server request</li>
</ul>
<p>The data thus collected cannot be connected to a spe-cific person. The data is not merged or compared with data from other sources. We reserve the right to subse-quently examine this data if concrete evidence of un-lawful use is made known to us.</p>

<h2>Cookies</h2>
<p>Parts of this website use so-called cookies. Cookies will not harm your computer and do not contain any virus. Cookies are used to make our offer more user-friendly, effective, and safe. Cookies are small text files that are stored on your computer and saved by your browser.</p>
<p>We only use necessary technical cookies, such as so-called "session cookies”. Session cookies are automati-cally deleted at the end of your visit. Other cookies are stored on your computer until you delete them. These cookies make it possible for us to recognize your browser the next time you visit our website.</p>
<p>The data is processed according to Art. 6 paragraph 1 (f) of the EU General Data Protection Regulation (GDPR) with the legitimate interest of analyzing usage to improve the company’s website.</p>

<h2>Objection to promotion mail</h2>
<p>The use of the contact information included in the Le-gal Notice to send unsolicited advertising and informa-tional materials is herewith prohibited. The operators of this website expressly reserve the right to take legal steps in the event that unsolicited advertising materials are sent, specifically through spam e-mail.</p>

<h2>Heroku</h2>
<p>GFA uses the service provider Heroku, a Salesforce company. Heroku processes your data on behalf of GFA on secure servers within the EU.</p>
<p>For more details, please refer to the data protection provisions of Heroku at: <a href="https://devcenter.heroku.com/articles/security-privacy-compliance/">https://devcenter.heroku.com/articles/security-privacy-compliance/</a><p>
{% endblock content %}