{% extends '_base.html' %}
{% load static %}

{% block title %}Building View{% endblock title %}
{% block content %}

<div class="row">
  <!-- Title and Subtitle -->
  <div class="col">
    <h1>{{ building.name }}</h1>
    <p class="text-muted">{{ building.country }}</p>
  </div>
  <!-- Buttons -->
  {% comment %}
  Simulation button temporarily disabled due to bug where original components were being removed
  {% if building_id %}
  <div class="col-auto">
    <div class="d-flex pt-2">
      {% if structural_components or operational_products%}
      <a
        href="{% url 'building_simulation' building_id=building_id %}"
        class="btn btn-secondary me-2"
        >Simulate</a
      >
      {% else %}
      <div class="btn btn-secondary me-2 disabled">Simulation</div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endcomment %}
</div>

<div id="building-core-content">
{% include "pages/building/building_core.html" %}
</div>

{% endblock %}
