{% if has_structural or has_operational %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="assembly-tab"
      data-bs-toggle="tab"
      data-bs-target="#assembly"
      type="button"
      role="tab"
      aria-controls="assembly"
      aria-selected="true"
    >Assembly</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="material-tab"
      data-bs-toggle="tab"
      data-bs-target="#material"
      type="button"
      role="tab"
      aria-controls="material"
      aria-selected="false"
    >Material</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="benchmarking-tab"
      data-bs-toggle="tab"
      data-bs-target="#benchmarking"
      type="button"
      role="tab"
      aria-controls="benchmarking"
      aria-selected="false"
    >Benchmarking</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="savings-tab"
      data-bs-toggle="tab"
      data-bs-target="#savings"
      type="button"
      role="tab"
      aria-controls="savings"
      aria-selected="false"
    >Savings Potential</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <!-- ASSEMBLY -->
  <div
    class="tab-pane fade show active p-3"
    id="assembly"
    role="tabpanel"
    aria-labelledby="assembly-tab"
  >
    <div
      id="assembly_dashboard"
      hx-get="{% url 'dashboard' %}?model=building&id={{building_id}}&dashboard_type=assembly&simulation={{simulation}}"
      hx-trigger="load, refresh"
      hx-swap="innerHTML"
    >
      <div class="text-center">
        <img
          alt="Result loading..."
          class="htmx-indicator"
          width="150"
          src="https://htmx.org/img/bars.svg"
        />
      </div>
    </div>
  </div>
</div>


{% endif %}

<div class="accordion pt-3 pb-3" id="accordionBuilding">
  <!-- Option 1 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="generalInfoHeading">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#generalInfo"
        aria-expanded="true"
        aria-controls="generalInfo"
      >
        <strong>General Information</strong>
      </button>
    </h2>
    <div
      id="generalInfo"
      class="accordion-collapse collapse show"
      aria-labelledby="generalInfoHeading"
      data-bs-parent="#accordionBuilding"
    >
      <div class="accordion-body">
        {% include "pages/building/building_info/general_info.html" %}
      </div>
    </div>
  </div>
  <!-- Option 2 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="detailedInfoHeading">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#detailedInfo"
        aria-expanded="true"
        aria-controls="detailedInfo"
      >
        <strong>Detailed Information</strong>
      </button>
    </h2>
    <div
      id="detailedInfo"
      class="accordion-collapse collapse"
      aria-labelledby="detailedInfoHeading"
      data-bs-parent="#accordionBuilding"
    >
      <div class="accordion-body">
        {% if building_id %}
        {% include "pages/building/building_info/detailed_info.html" %}
        {% else %} Please save the building before adding any detailed information {% endif %}
      </div>
    </div>
  </div>
  <!-- Option 3 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="operationInfoHeading">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#operationInfo"
        aria-expanded="true"
        aria-controls="operationInfo"
      >
        <strong>Operational Information</strong>
      </button>
    </h2>
    <div
      id="operationInfo"
      class="accordion-collapse collapse"
      aria-labelledby="operationInfoHeading"
      data-bs-parent="#accordionBuilding"
    >
      <div class="accordion-body">
        {% if building_id %}
        {% include "pages/building/building_info/operational_info.html" %}
        {% else %} Please save the building before adding any operational information {% endif %}
      </div>
    </div>
  </div>
  <!-- Option 4 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="opImpactCalcHeading">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#opImpactCalc"
        aria-expanded="true"
        aria-controls="opImpactCalc"
      >
        <strong>Operational Data Entry</strong>
      </button>
    </h2>
    <div
      id="opImpactCalc"
      class="accordion-collapse collapse"
      aria-labelledby="opImpactCalcHeading"
      data-bs-parent="#accordionBuilding"
    >
      <div id="operational-info-body" class="accordion-body">
        {% if building_id %}
        {% include "pages/building/operational_info/operational_products.html" %}
        {% else %} Please save the building before adding any energy carriers {% endif %}

      </div>
    </div>
  </div>

  <!-- Option 5 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="assembliesHeading">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#assemblies"
        aria-expanded="true"
        aria-controls="assemblies"
      >
        <strong>Building Structural Components</strong>
      </button>
    </h2>
    <div
      id="assemblies"
      class="accordion-collapse collapse"
      aria-labelledby="assembliesHeading"
      data-bs-parent="#accordionBuilding"
    >
      <div class="accordion-body">
        {% include "pages/building/structural_info/structural_info.html" %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const countryDropdown = document.getElementById("country-dropdown");
    const cityDropdown = document.getElementById("city-dropdown");

    // When a new country is selected the city select dropdown is cleared
    countryDropdown.addEventListener("change", (event) => {
      if (cityDropdown) {
        // Clear existing options in the cityDropdown
        cityDropdown.innerHTML = "";

        // Add the default '----------' option
        const defaultOption = document.createElement("option");
        defaultOption.value = "";
        defaultOption.textContent = "----------";
        cityDropdown.appendChild(defaultOption);
      }
    });
  });
</script>
