{% load custom_filters %}
{% load i18n %}

<li
      class="flex items-center justify-between gap-1.5 w-full p-2.5 rounded-[var(--radius-8)] bg-[var(--bg--weak-50)] border border-[var(--stroke--soft-200)]"
    id="epd-{{ epd.id }}-{{ epd.timestamp }}"
      >
        <span
          data-icon="gas-station-line"
          data-size="20"
          data-color="var(--icon--strong-950)"
          class="shrink-0 self-start"
        ></span>
        <div class="flex flex-col flex-1">
          <p class="text-sm/5 font-medium">{{ epd.name|truncatechars:60 }}</p>
          <input type="text" name='id' value='{{ epd.id }}' hidden/>

          <div class="grid grid-cols-2 items-stretch gap-2 mt-1">
            <fieldset>
              <label class="input w-full validator">
              <input
                name="material_{{ epd.id }}_description_{{ epd.timestamp }}"
                value="{% if epd.description %}{{ epd.description }}{% endif %}"
                type="text" placeholder="{% translate 'Add a description' %}"  required class="block w-full" />
              </label>
              <p class="validator-hint hidden">required</p>
            </fieldset>

            <fieldset>
              <label class="input validator w-full pr-0 overflow-hidden">
              <input type="number"
                name='material_{{ epd.id }}_quantity_{{ epd.timestamp }}'
                value="{% if epd.selection_quantity %}{{ epd.selection_quantity }}{% endif %}"
                class='block w-full'
                placeholder="{% translate 'Quantity' %}"
                required
                min="1"
                step="0.01" />
              {% if epd.op_units|length > 1 %}
              <select name="material_{{ epd.id }}_unit_{{ epd.timestamp }}" class="select focus:!outline-none !pr-0 rounded-none border-l border-[var(--stroke--soft-200)]">
                {% for unit in epd.op_units %}
                <option value="{{ unit }}" {% if unit == epd.selection_unit %}selected{% endif %}>{{ unit|display_unit }}</option>
                {% endfor %}
              </select>
              {% else %}
              <span class="text-sm/5 align-middle text-[var(--text--sub-600)] pr-3">{{ epd.selection_unit|display_unit }}</span>
              <input type="hidden" name="material_{{ epd.id }}_unit_{{ epd.timestamp }}" value="{{ epd.selection_unit }}" />
              {% endif %}
            </label>
            <p class="validator-hint hidden">{% translate "Please enter a valid quantity" %}</p>
            </fieldset>

          </div>

        </div>
        <div class="flex items-center gap-3">
          <button
            type="button"
            class="btn size-5 btn-ghost p-0 remove-epd"
            data-epd-id="{{ epd.id }}"
            data-timestamp="{{ epd.timestamp }}"
            data-element-id="epd-{{ epd.id }}-{{ epd.timestamp }}"
            title="{% translate 'Remove energy carrier' %}"
          >
            <span
              data-icon="delete-bin-5-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
      </li>
