<div
  class="flex items-center gap-2 p-2 rounded-lg bg-[var(--state--faded--lighter)]"
>
  <span
    data-icon="information-2-line"
    data-size="16"
    data-color="var(--icon--strong-950)"
  ></span>
  You need to add at least one energy carrier to continue
</div>

<div id="energy_carrier_template_container" class="w-full">
  <div class="w-full flex flex-col mt-5">
    <button
      class="btn btn-outline w-fit"
      onclick="energy_carrier_modal.showModal()"
    >
      <span
        data-icon="add-large-fill"
        data-size="20"
        data-color="var(--icon--strong-950)"
      ></span>
      Add energy carrier
    </button>
    <div
      class="divider before:h-[0.0625rem] after:h-[0.0625rem] before:bg-[var(--stroke--soft-200)] after:bg-[var(--stroke--soft-200)]"
    ></div>
    <ul class="grid grid-cols-1">
      <li
        class="flex items-center justify-between gap-1.5 w-full p-2.5 rounded-[var(--radius-8)] bg-[var(--bg--weak-50)] border border-[var(--stroke--soft-200)]"
      >
        <span
          data-icon="gas-station-line"
          data-size="20"
          data-color="var(--icon--strong-950)"
          class="shrink-0 self-start"
        ></span>
        <div class="flex flex-col flex-1">
          <p class="text-sm/5 font-medium">Diesel</p>
          <div class="flex items-stretch gap-2">
            <label class="input w-full">
              <input type="text" placeholder="Add a description" />
            </label>
            <label class="input pr-0">
              <input type="number" placeholder="Quantity" />
              <select
                class="select select-ghost w-fit !outline-none !border-none"
              >
                <option selected value="kg">kg</option>
                <option value="liters">liters</option>
                <option value="kwh">kwh</option>
                <option value="m³">m³</option>
              </select>
            </label>
          </div>

          <p class="text-sm/5 text-[var(--text--sub-600)] gap-0 mt-1">
            <span class="border-r border-[var(--text--sub-600)] pr-1"
              >Airflow rate: 45CMH</span
            >
            <span>Capacity units: m<sup>3</sup>/hr</span>
          </p>
        </div>
        <div class="flex items-center gap-3">
          <button class="btn size-5 btn-ghost p-0">
            <span
              data-icon="edit-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
          <button
            class="btn size-5 btn-ghost p-0"
            onclick="energy_carrier_modal_delete.showModal()"
          >
            <span
              data-icon="delete-bin-5-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<dialog id="energy_carrier_modal" class="modal modal-bottom sm:modal-end">
  <div
    class="modal-box p-0 !h-[97vh] my-auto mr-3.5 !w-full !max-w-[44.5rem] rounded-[1.25rem] overflow-y-auto flex flex-col justify-between"
  >
    <div class="flex justify-between p-5 w-full">
      <h3 class="text-lg/6 font-medium">Energy Carrier Emission Factor</h3>
      <button
        type="button"
        onclick="energy_carrier_modal.close()"
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      >
        <span
          data-icon="close-line"
          data-size="16"
          data-color="var(--icon--sub-600)"
        ></span>
      </button>
    </div>
    <form method="dialog" class="flex-1 overflow-y-auto hide-scrollbar">
      <div class="px-5 py-2.5 w-full">
        <div
          class="p-2.5 flex flex-col w-full rounded-[var(--radius-10)] bg-[var(--bg--weak-50)]"
        >
          <div class="flex items-stretch gap-2">
            <label class="input w-full">
              <span
                data-icon="search-2-line"
                data-size="16"
                data-color="var(--icon--soft-400)"
              ></span>
              <input type="text" placeholder="Search..." />
            </label>
            <select class="select">
              <option selected value="usa">
                <span data-country="US" data-width="20"></span>
                <span data-country="US" data-flag="false"></span>
              </option>
              <option value="canada">
                <span data-country="CA" data-width="20"></span>
                <span data-country="CA" data-flag="false"></span>
              </option>
              <option value="uk">
                <span data-country="GB" data-width="20"></span>
                <span data-country="GB" data-flag="false"></span>
              </option>
              <option value="australia">
                <span data-country="AU" data-width="20"></span>
                <span data-country="AU" data-flag="false"></span>
              </option>
            </select>
          </div>
          <div class="collapse rounded-none">
            <input type="checkbox" class="peer" />
            <div
              class="group collapse-title p-2.5 px-0 bg-[var(--bg--weak-50)] text-[0.813rem]/5 font-semibold flex items-center justify-between rounded-[var(--radius-4)]"
            >
              <span class="flex items-center gap-2">
                <span
                  data-icon="menu-search-line"
                  data-size="20"
                  data-color="var(--icon--strong-950)"
                ></span>
                Advanced Search
                <span class="text-xs/5 text-[var(--text--sub-600)]"
                  >Click here for a more advanced search option</span
                >
              </span>
              <span
                data-icon="caret-down"
                data-size="16"
                data-color="var(--icon--soft-400)"
                class="transition-transform duration-300 ease-in-out group-[peer:checked]:rotate-180"
              ></span>
            </div>
            <div class="collapse-content mt-0 px-0">
              <div class="grid grid-cols-4 gap-2">
                <label class="relative">
                  <span
                    data-icon="filter-3-line"
                    data-size="20"
                    data-color="var(--icon--soft-400)"
                    class="select-icon w-8"
                  ></span>
                  <select
                    class="select py-0 pl-8 h-9 text-sm/5 text-[var(--text--sub-600)] rounded-[var(--radius-8)]"
                  >
                    <option disabled selected value="">Category</option>
                    <option value="solid">Solid</option>
                    <option value="liquid">Liquid</option>
                    <option value="gas">Gas</option>
                  </select>
                </label>
                <label class="relative">
                  <span
                    data-icon="filter-3-line"
                    data-size="20"
                    data-color="var(--icon--soft-400)"
                    class="select-icon w-8"
                  ></span>
                  <select
                    class="select py-0 pl-8 h-9 text-sm/5 text-[var(--text--sub-600)] rounded-[var(--radius-8)]"
                  >
                    <option disabled selected value="">Sub-category</option>
                    <option value="solid">Solid</option>
                    <option value="liquid">Liquid</option>
                    <option value="gas">Gas</option>
                  </select>
                </label>
                <label class="relative">
                  <span
                    data-icon="filter-3-line"
                    data-size="20"
                    data-color="var(--icon--soft-400)"
                    class="select-icon w-8"
                  ></span>
                  <select
                    class="select py-0 pl-8 h-9 text-sm/5 text-[var(--text--sub-600)] rounded-[var(--radius-8)]"
                  >
                    <option disabled selected value="">Child-category</option>
                    <option value="natural-gas">Natural gas</option>
                    <option value="liquid-gas">Liquid gas</option>
                    <option value="heating-oil">Heating oil</option>
                    <option value="wood-pellets">Wood pellets</option>
                    <option value="electricity">Electricity</option>
                    <option value="district-heat">District heat</option>
                    <option value="biogas">Biogas</option>
                    <option value="solid-fuel">Solid fuel</option>
                  </select>
                </label>
                <label class="relative">
                  <span
                    data-icon="filter-3-line"
                    data-size="20"
                    data-color="var(--icon--soft-400)"
                    class="select-icon w-8"
                  ></span>
                  <select
                    class="select py-0 pl-8 h-9 text-sm/5 text-[var(--text--sub-600)] rounded-[var(--radius-8)]"
                  >
                    <option disabled selected value="">EPD type</option>
                    <option value="solid">Solid</option>
                    <option value="liquid">Liquid</option>
                    <option value="gas">Gas</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <button class="btn btn-outline btn-block" disabled>Search</button>
        </div>
        <ul class="grid grid-cols-1">
          <li
            class="py-2.5 flex items-center justify-between gap-2.5 not-last:border-b border-[var(--stroke--soft-200)]"
          >
            <div class="flex flex-col gap-2.5">
              <div class="flex items-center">
                <span>Fire wood (log wood)</span>
                <div
                  class="p-1 pr-2 rounded-[var(--radius-6)] bg-[var(--bg--weak-50)] gap-1 flex items-center"
                >
                  <span
                    data-icon="pushpin-fill"
                    data-size="16"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <span class="text-[var(--text--sub-600)]">Generic</span>
                </div>
              </div>
              <div class="flex items-center gap-1.25">
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Solid fuel</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Unit: kwh</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >0.01 kgC02eq</span
                >
              </div>
            </div>
            <button
              class="btn btn-sm btn-outline w-fit border-[var(--stroke--soft-200)] rounded-[var(--radius-8)]"
              type="button"
            >
              <span
                data-icon="add-large-fill"
                data-size="20"
                data-color="var(--icon--strong-950)"
              ></span>
              Add
            </button>
          </li>
          <li
            class="py-2.5 flex items-center justify-between gap-2.5 not-last:border-b border-[var(--stroke--soft-200)] bg-[var(--bg--weak-50)]"
          >
            <div class="flex flex-col gap-2.5">
              <div class="flex items-center">
                <span>Heavy fuel oil</span>
                <div
                  class="p-1 pr-2 rounded-[var(--radius-6)] bg-[var(--bg--weak-50)] gap-1 flex items-center"
                >
                  <span
                    data-icon="pushpin-fill"
                    data-size="16"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <span class="text-[var(--text--sub-600)]">Generic</span>
                </div>
              </div>
              <div class="flex items-center gap-1.25">
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Solid fuel</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Unit: kwh</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >0.01 kgC02eq</span
                >
              </div>
            </div>
            <div class="flex items-center gap-1.5">
              <button
                class="btn btn-sm bg-[var(--primary-green)] p-0 size-8 rounded-full"
              >
                <span
                  data-icon="check-line"
                  data-size="20"
                  data-color="var(--icon--strong-950)"
                ></span>
              </button>
              <button
                class="btn btn-sm btn-outline w-fit border-[var(--stroke--soft-200)] rounded-[var(--radius-8)]"
                type="button"
              >
                Remove
              </button>
            </div>
          </li>
          <li
            class="py-2.5 flex items-center justify-between gap-2.5 not-last:border-b border-[var(--stroke--soft-200)]"
          >
            <div class="flex flex-col gap-2.5">
              <div class="flex items-center">
                <span>Fire wood (wood pellets)</span>
                <div
                  class="p-1 pr-2 rounded-[var(--radius-6)] bg-[var(--bg--weak-50)] gap-1 flex items-center"
                >
                  <span
                    data-icon="pushpin-fill"
                    data-size="16"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <span class="text-[var(--text--sub-600)]">Generic</span>
                </div>
              </div>
              <div class="flex items-center gap-1.25">
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Solid fuel</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Unit: kwh</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >0.01 kgC02eq</span
                >
              </div>
            </div>
            <button
              class="btn btn-sm btn-outline w-fit border-[var(--stroke--soft-200)] rounded-[var(--radius-8)]"
              type="button"
            >
              <span
                data-icon="add-large-fill"
                data-size="20"
                data-color="var(--icon--strong-950)"
              ></span>
              Add
            </button>
          </li>
          <li
            class="py-2.5 flex items-center justify-between gap-2.5 not-last:border-b border-[var(--stroke--soft-200)]"
          >
            <div class="flex flex-col gap-2.5">
              <div class="flex items-center">
                <span>Light fuel oil</span>
                <div
                  class="p-1 pr-2 rounded-[var(--radius-6)] bg-[var(--bg--weak-50)] gap-1 flex items-center"
                >
                  <span
                    data-icon="pushpin-fill"
                    data-size="16"
                    data-color="var(--icon--soft-400)"
                  ></span>
                  <span class="text-[var(--text--sub-600)]">Generic</span>
                </div>
              </div>
              <div class="flex items-center gap-1.25">
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Solid fuel</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >Unit: kwh</span
                >
                <span
                  class="badge badge-outline py-1 px-2 border-[var(--stroke--soft-200)] text-[var(--text--sub-600)]"
                  >0.01 kgC02eq</span
                >
              </div>
            </div>
            <button
              class="btn btn-sm btn-outline w-fit border-[var(--stroke--soft-200)] rounded-[var(--radius-8)]"
              type="button"
            >
              <span
                data-icon="add-large-fill"
                data-size="20"
                data-color="var(--icon--strong-950)"
              ></span>
              Add
            </button>
          </li>
        </ul>
      </div>
    </form>
    <div
      class="p-5 border-t border-[var(--stroke--soft-200)] flex gap-4 items-center justify-between w-full"
    >
      <div class="flex items-center gap-2">
        <button class="btn btn-ghost py-2 px-3">
          <span
            data-icon="arrow-left"
            data-size="20"
            data-color="var(--icon--soft-400)"
          ></span>
          Previous
        </button>
        <ul class="flex items-center gap-2">
          <li>
            <button class="btn btn-sm rounded-[var(--radius-8)] btn-neutral">
              1
            </button>
          </li>
          <li>
            <button class="btn btn-sm rounded-[var(--radius-8)] btn-ghost">
              2
            </button>
          </li>
          <li>
            <button class="btn btn-sm rounded-[var(--radius-8)] btn-ghost">
              3
            </button>
          </li>
        </ul>
        <button class="btn btn-ghost py-2 px-3">
          Next
          <span
            data-icon="arrow-right"
            data-size="20"
            data-color="var(--icon--strong-950)"
          ></span>
        </button>
      </div>
      <div class="flex items-center gap-2">
        <button
          class="btn btn-sm btn-outline text-[var(--text--sub-600)] border-[var(--stroke--soft-200)] w-fit"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-sm btn-primary w-fit">Save</button>
      </div>
    </div>
  </div>
</dialog>

<dialog id="energy_carrier_modal_delete" class="modal modal-middle">
  <div class="modal-box w-full max-w-[26.375rem] p-0">
    <div class="flex flex-col items-center p-5">
      <div
        class="flex items-center p-2 justify-center rounded-[var(--radius-8)] bg-[var(--state--warning--lighter)]"
      >
        <span
          data-icon="alert-fill"
          data-size="24"
          data-color="var(--state--warning--base)"
        ></span>
      </div>
      <h3 class="text-lg/6 font-medium mt-4">Are you sure?</h3>
      <p class="text-sm/5 text-[var(--text--sub-600)] text-center mt-1">
        You are about to remove or delete added energy carrier. This will action
        will permanently remove it.
      </p>
    </div>
    <div
      class="p-5 border-t border-[var(--stroke--soft-200)] flex gap-4 items-center justify-between w-full"
    >
      <button
        class="btn btn-sm btn-outline text-[var(--text--sub-600)] border-[var(--stroke--soft-200)] flex-1"
        onclick="energy_carrier_modal_delete.close()"
      >
        Cancel
      </button>
      <button class="btn btn-sm btn-error flex-1">Remove</button>
    </div>
  </div>
</dialog>

<template id="energy-carrier-template">
  <div class="w-full flex flex-col">
    <button
      class="btn btn-outline w-fit"
      onclick="energy_carrier_modal.showModal()"
    >
      Add energy carrier
    </button>
    <div
      class="divider before:h-[0.0625rem] after:h-[0.0625rem] before:bg-[var(--stroke--soft-200)] after:bg-[var(--stroke--soft-200)]"
    ></div>
    <ul class="grid grid-cols-1">
      <li
        class="flex items-center justify-between gap-1.5 w-full p-2.5 rounded-[var(--radius-8)] bg-[var(--bg--weak-50)] border border-[var(--stroke--soft-200)]"
      >
        <span
          data-icon="gas-station-line"
          data-size="20"
          data-color="var(--icon--strong-950)"
          class="shrink-0 self-start"
        ></span>
        <div class="flex flex-col flex-1">
          <p class="text-sm/5 font-medium">Diesel</p>
          <div class="flex items-stretch gap-2">
            <label class="input w-full">
              <input type="text" placeholder="Add a description" />
            </label>
            <label class="input pr-0">
              <input type="number" placeholder="Quantity" />
              <select
                class="select select-ghost w-fit !outline-none !border-none"
              >
                <option selected value="kg">kg</option>
                <option value="liters">liters</option>
                <option value="kwh">kwh</option>
                <option value="m³">m³</option>
              </select>
            </label>
          </div>

          <p class="text-sm/5 text-[var(--text--sub-600)] gap-0">
            <span class="border-r border-[var(--text--sub-600)] pr-1"
              >Airflow rate: 45CMH</span
            >
            <span>Capacity units: m<sup>3</sup>/hr</span>
          </p>
        </div>
        <div class="flex items-center gap-3">
          <button class="btn size-5 btn-ghost p-0">
            <span
              data-icon="edit-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
          <button
            class="btn size-5 btn-ghost p-0"
            onclick="energy_carrier_modal_delete.showModal()"
          >
            <span
              data-icon="delete-bin-5-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<template id="no-energy-carrier-template">
  <div class="w-full flex flex-col gap-3 items-center justify-center mt-10">
    <img src="/src/assets/energy-carrier.png" alt="Energy Carrier Image" />
    <p class="text-sm/5 font-medium">
      Click button below to add a energy carrier
    </p>
    <button class="btn btn-primary" onclick="energy_carrier_modal.showModal()">
      Add an energy carrier
    </button>
  </div>
</template>
