<ul class="list-group">
  {% for building in buildings %}
  <a href="/building/{{ building.id }}/" class="list-group-item list-group-item-action" title="{{ building.name }}">
    <div class="row align-items-center">
      <!-- Left column -->
      <div class="col-5">
        <h5 class="mb-0">{{ building.name | truncatechars:20 }}</h5>
        <div class="text-muted lh-1">
            {% if building.street and building.number %}
            {{ building.street }} {{ building.number}}
            {% endif %}
            <br>
            {% if building.city %}
              {{ building.city | truncatechars:20 }}
            {% endif %}
            <br>
            {{ building.country | truncatechars:20 }}
        </div>
      </div>
  
      <!-- Middle column: Centered badge -->
      <div class="col d-flex align-items-center justify-content-center">
        <span class="badge border border-info text-info bg-transparent rounded-pill">
          {{ building.category }}
        </span>
        <span class="badge border border-info text-info bg-transparent rounded-pill">
          {{ building.total_floor_area | floatformat:"0" }} m<sup>2</sup>
        </span>
      </div>
  
      <!-- Right column: Delete button -->
      <div class="col-md-auto d-flex align-items-center">
        <button type="button" 
          class="btn btn-danger"
          hx-delete="{% url 'home' %}?building_id={{ building.id }}" 
          hx-confirm="Are you sure you wish to delete this building?"
          hx-target="#buildings_list"
          hx-swap="innerHTML">
          Delete
        </button>
      </div>
    </div>
  </a>
  
  
  
  {% endfor %}
</ul>
