{% extends '_base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}List view{% endblock title %}
{% block content %}
<!-- Header + subtitle -->
<div class="mb-4">
  <h1 class="mb-1">
    Welcome to <span style="color:#F26716">BEAT</span>
  </h1>
  <p class="lead text-muted">
    Begin assessing your building’s whole life cycle emissions – from embodied to operational
  </p>
</div>

<!-- Logo + project note -->
<div class="row mb-3">
  <div class="col-5 d-flex justify-content-center align-items-center" style="min-height:6rem;">
    <a href="https://alcbt.gggi.org/">
      <img
        src="{% static 'images/logos/ALCBT_logo.png' %}"
        alt="ALCBT logo"
        style="height:6rem;"
      >
    </a>
  </div>
  <div class="col-7 d-flex flex-column justify-content-center flex-direction: column align-items-center" style="min-height:6rem;">
    <span class="text-center text-muted mb-2">
      📄 For guidance, please refer to the BEAT
      <a href="https://heat365.sharepoint.com/:b:/s/beat-public/EasMEDhJC91Aor4_1Hc8zFsBbBuAoyum_JIX6CdaKVob_A?e=bC5a78">user documentation</a>.
    </span>
  </div>
</div>


<h2>Buildings overview</h2>

<div hx-get="{% url 'map' %}?model=building&ids=[]" 
     hx-trigger="load"
     hx-target="#buildings_map"
     hx-swap="innerHTML"
     id="buildings_map"
     >
  <img alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/>
</div>
<div class="row my-2">
  <div class='fs-4 fw-bold col-10'>Your buildings</div>
 <!-- Button to trigger modal -->
  <a href="{% url 'new_building' %}"  class="icon-button btn btn-primary fs-6 col">
    Add building
  </a>
</div>
<div id="buildings_list">
{% include "pages/home/buildings_list.html" %} 
</div>
{% endblock %}
