{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}List view{% endblock title %}
{% block content %}
<!-- Header + subtitle -->
<div class="mb-4">
  <h1 class="mb-1">
    {% translate "Welcome to" %} <span style="color:#F26716">BEAT</span>
  </h1>
  <p class="lead text-muted">
    {% translate "Begin assessing your building's whole life cycle emissions – from embodied to operational" %}
  </p>
</div>

<h2>{% translate "Buildings overview" %}</h2>

<div hx-get="{% url 'map' %}?model=building&ids=[]" 
     hx-trigger="load"
     hx-target="#buildings_map"
     hx-swap="innerHTML"
     id="buildings_map"
     >
  <img alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/>
</div>
<div class="row my-2">
  <div class='fs-4 fw-bold col-10'>{% translate "Your buildings" %}</div>
 <!-- Button to trigger modal -->
  <a href="{% url 'new_building' %}"  class="icon-button btn btn-primary fs-6 col">
    {% translate "Add building" %}
  </a>
</div>
<div id="buildings_list">
{% include "pages/home/buildings_list.html" %} 
</div>
{% endblock %}
