{% extends '_base.html' %}
{% load cookie_consent_tags %}
{% block css %}
{{ block.super }}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock css %}

{% block title %}Resource page{% endblock %}
{% block body_class %}min-h-screen bg-[var(--bg--base-500)] flex flex-col{% endblock body_class %}
{% block content %}
  
    <section
      class="flex-1 card bg-white rounded-none rounded-t-[var(--radius-24)] border border-[var(--stroke--soft-200)] pb-6"
    >
      <div class="max-w-[68.75rem] mx-auto w-full px-4">
        <div class="flex flex-col gap-6 w-full mt-7">
          <div
            class="flex flex-col text-2xl/[110%] font-extrabold text-[var(--text--strong-950)]"
          >
            Resources
            <p class="text-sm font-normal text-[var(--text--sub-600)]">
              Manage your resources to access for low carbon
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}