{% extends "pages/add-building/_base.html" %}
{% load i18n %}
{% load static  %}

{% block title %}{% if edit_mode %}{% translate "Edit Building" %}{% else %}{% translate "Add Building" %}{% endif %}{% endblock title %}


{% block new-building %}

    <section class="card flex-1">
      <div
        class="card-body border-x-2 border-[var(--stroke--soft-200)] bg-[var(--bg--white-0)] rounded-l-[var(--radius-16)] p-0 gap-0"
      >
        <div
          class="md:px-14 pt-6 pb-4 px-2 flex items-center justify-between border-b border-[var(--stroke--soft-200)]"
        >
          <div class="flex items-center gap-2 md:justify-start justify-between w-full">
            <div class="flex items-center gap-2">
            <button
              type="button"
              class="btn btn-ghost btn-sm flex items-center gap-1"
              data-sidebar-toggle
              aria-controls="add-building-sidebar"
              aria-expanded="true"
            >
              <span class="sidebar-btn-icon-open"  data-icon="list-indefinite" data-size="20"></span>
              <span class="sidebar-btn-icon-close" data-icon="arrow-left-s-line" data-size="20"></span>
            </button>

              <img
                src="{% static 'assets/logo.svg' %}"
                alt="logo image"
                class="sidebar-logo w-[3.25rem] block md:hidden"
              />
            </div>
          <a class="btn btn-sm" href="{% url 'home' %}">
            <span data-icon="logout-box-line"></span>
            <span>{% translate "Exit" %}</span>
          </a>
          </div>

          <div class="flex items-center gap-4">
            {% comment %} <button class="btn btn-ghost size-6 p-0">
              <span data-icon="question-line" data-size="24"></span>
            </button>
            <button class="btn btn-ghost size-6 p-0">
              <span data-icon="bell-simple" data-size="24"></span>
            </button>
            <button class="btn btn-ghost size-6 p-0">
              <span data-icon="settings-5-line" data-size="24"></span>
            </button> {% endcomment %}
              <button popovertarget="popover-1" style="anchor-name:--anchor-1" class="btn btn-ghost flex items-center gap-1 max-md:hidden">
            <div class="avatar avatar-placeholder">
              <div class="bg-primary text-primary-content w-6 rounded-full">
                <span class="text-xs">{{ user.username|slice:":1" }}</span>
              </div>
            </div>
            <span class="text-sm">{{ user.username}}</span>
            <span data-icon="caret-down" data-size="16"></span>
          </button>

          <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm "
            popover id="popover-1" style="position-anchor:--anchor-1">
            <li class='w-full'><a class='w-full' href="{% url 'profile' %}">{% translate "Profile" %}</a></li>
            {% comment %} <li class='w-full'><button class='w-full' onclick="showCookieSettings()">Cookie Settings</button></li> {% endcomment %}
            <li class='w-full'><button onclick="logout_modal.showModal()" class='w-full'>{% translate "Logout" %}</button></li>
          </ul>
            
          </div>
        </div>
        <div class="flex-1 p-4 md:p-14">
          <div class="mx-auto w-full max-w-[31.625rem]">
            <div class="w-full">
              <div
                class="mb-4 bg-[var(--bg--weak-50)] rounded-full p-2.5 w-fit flex items-center"
                id="current-step-progress"
              >
                <span class="text-[0.813rem]/5 font-semibold align-middle"
                  >1 {% translate "out of" %}
                  <span class="font-normal text-[var(--text--sub-600)]"
                    >2 {% translate "steps" %}</span
                  ></span
                >
              </div>
              <h2
                class="text-base/5 font-extrabold mb-1"
                id="current-step-title"
              >
                {% translate "Building Name & Location" %}
              </h2>
              <p
                class="text-sm/5 text-[var(--text--sub-600)] mb-6"
                id="current-step-description"
              >
                {% translate "Add details concerning building name and locations of building." %}
              </p>

              <div id="dynamic-content"></div>
            </div>
          </div>
        </div>
        <div
          class="card-actions px-4 md:px-14 py-7 border-t border-[var(--stroke--soft-200)] justify-between"
        >
          <button class="btn btn-outline" id="go-back">
            <span data-icon="arrow-left-s-line"></span>
            {% translate "Go back" %}
          </button>
          <div class="flex items-center gap-2">
            <button
              class="btn btn-outline text-[var(--text--sub-600)] border-[var(--stroke--soft-200)]"
              id="skip"
            >
              <span>{% translate "Skip" %}</span>
            </button>
            <button class="btn btn-primary" id="save-and-continue" disabled>
              <span>{% translate "Save & continue" %}</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    {% comment %} <script src="{% static 'js/step-manager.js' %}"></script> {% endcomment %}

{% endblock new-building %}