<form class="grid grid-cols-3 gap-1">
  <fieldset class="fieldset col-span-3">
    <legend class="fieldset-legend">
      Number of residents (occupants)<span class="text-error">*</span>
    </legend>
    <label class="input validator w-full">
      <input type="number" placeholder="eg. 10" required />
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset col-span-3">
    <legend class="fieldset-legend">
      Annual operating schedule<span class="text-error">*</span
      ><span
        data-icon="info-custom-fill"
        data-size="20"
        data-color="var(--icon--disabled-300)"
      ></span>
    </legend>
    <div class="w-full flex gap-1.5 items-center">
      <div class="flex-1">
        <label class="input validator w-full">
          <input type="number" placeholder="eg. 1" required />
          <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
            >Hours / day</span
          >
        </label>
        <p class="validator-hint">This field is required</p>
      </div>
      <div class="flex-1">
        <label class="input validator w-full">
          <input type="number" placeholder="eg. 1" required />
          <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
            >days / week</span
          >
        </label>
        <p class="validator-hint">This field is required</p>
      </div>
      <div class="flex-1">
        <label class="input validator w-full">
          <input type="number" placeholder="eg. 1" required />
          <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
            >weeks / year</span
          >
        </label>
        <p class="validator-hint">This field is required</p>
      </div>
    </div>
  </fieldset>
  <div class="col-span-3 grid grid-cols-2 gap-1">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">
        Room heating temperature<span class="text-error">*</span>
      </legend>
      <label class="input validator w-full pr-0 overflow-hidden">
        <input type="number" placeholder="eg. 18" required />
        <select
          class="select select-ghost focus:!outline-none !pr-0 rounded-none w-[calc(max-content+1rem)]"
        >
          <option value="celsius" selected>°Celsius</option>
          <option value="fahrenheit">°Fahrenheit</option>
        </select>
      </label>
      <p class="validator-hint">This field is required</p>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">
        Room cooling temperature<span class="text-error">*</span>
      </legend>
      <label class="input validator w-full pr-0 overflow-hidden">
        <input type="number" placeholder="eg. 32" required />
        <select
          class="select select-ghost focus:!outline-none !pr-0 rounded-none w-[calc(max-content+1rem)]"
        >
          <option value="celsius" selected>°Celsius</option>
          <option value="fahrenheit">°Fahrenheit</option>
        </select>
      </label>
      <p class="validator-hint">This field is required</p>
    </fieldset>
  </div>
</form>
