<li class="bg-[var(--bg--weak-50)] rounded-xl p-4"
    id="material-{{ epd.id }}-{{ epd.timestamp }}"
    data-epd-id="{{ epd.id }}"
    data-timestamp="{{ epd.timestamp }}"
    data-name="{{ epd.name }}"
    data-gwp="{{ epd.gwp }}">
      <div class="flex items-center justify-between mb-2 w-full">
        <span class="text-sm/5 font-medium truncate flex-1">{{ epd.name|truncatechars:50 }}</span>
        <div class="flex items-center gap-2">
          <span data-country="{{ epd.country }}" data-width="16"></span>
          <a href="#" target="_blank" rel="noopener">
            <span data-icon="external-link-line" data-size="20" data-color="var(--icon--sub-600)"></span>
          </a>
        </div>
      </div>

  <div class="flex items-stretch gap-1 bg-[var(--bg--white-0)] rounded-xl p-2.5">
    <div class="bg-[var(--bg--weak-50)] px-1 flex items-center shrink-0 rounded-[var(--radius-6)]">
      <span data-country="{{ epd.country }}" data-width="20"></span>
    </div>

    <label class="input w-full">
      <input type="text"
            placeholder="Add description"
            class="material-description" />
    </label>

    {% if mode == 'boq' %}
    <select class="select material-category" required>
      <option value="" selected disabled>Category</option>
      {% for cat in categories %}
      <option value="{{ cat.id }}">{{ cat.name }}</option>
      {% endfor %}
    </select>
    {% endif %}

    <label class="input w-full max-w-[140px]">
      <input type="number"
            placeholder="Qty"
            step="0.01"
            min="0"
            class="material-quantity"
            required />
      <span class="text-xs text-[var(--text--sub-600)] material-unit" data-unit="{{ epd.selection_unit }}">{{ epd.selection_unit }}</span>
      <input type="hidden" class="material-unit-value" value="{{ epd.selection_unit }}" />
    </label>

    <div class="w-[0.0625rem] bg-[var(--stroke--soft-200)] h-full my-2"></div>


        <button type="button"
                class="btn px-1.5 btn-outline border-[var(--stroke--soft-200)] self-stretch remove-material-btn"
                data-element-id="material-{{ epd.id }}-{{ epd.timestamp }}">
          <span data-icon="delete-bin-5-line" data-size="20" data-color="var(--icon--strong-950)"></span>
        </button>
      </div>

      <input type="hidden" name="material_{{ epd.id }}_id_{{ epd.timestamp }}" value="{{ epd.id }}" />
      <input type="hidden" name="material_{{ epd.id }}_gwp_{{ epd.timestamp }}" value="{{ epd.gwp }}" />
    </li>