<div id="hot-water-system-container" class="w-full">
  <div class="w-full flex flex-col">
    <button
      class="btn btn-outline w-fit"
      onclick="hot_water_system_modal.showModal()"
    >
      <span
        data-icon="add-large-fill"
        data-size="20"
        data-color="var(--icon--strong-950)"
      ></span>
      Add hot water system
    </button>
    <div
      class="divider before:h-[0.0625rem] after:h-[0.0625rem] before:bg-[var(--stroke--soft-200)] after:bg-[var(--stroke--soft-200)]"
    ></div>
    <ul class="grid grid-cols-1">
      <li
        class="flex items-center justify-between gap-1.5 w-full p-2.5 rounded-[var(--radius-8)] bg-[var(--bg--weak-50)] border border-[var(--stroke--soft-200)]"
      >
        <span
          data-icon="temp-cold-line"
          data-size="20"
          data-color="var(--icon--strong-950)"
          class="shrink-0 self-start"
        ></span>
        <div class="flex flex-col flex-1">
          <p class="text-sm/5 font-medium">Heat pump water system</p>
          <p class="text-sm/5 text-[var(--text--sub-600)] gap-0">
            <span class="border-r border-[var(--text--sub-600)] pr-1"
              >Fuel type: Electricity</span
            >
            <span>Power input: 400Kw</span>
          </p>
        </div>
        <div class="flex items-center gap-3">
          <button class="btn size-5 btn-ghost p-0">
            <span
              data-icon="edit-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
          <button
            class="btn size-5 btn-ghost p-0"
            onclick="hot_water_system_modal_delete.showModal()"
          >
            <span
              data-icon="delete-bin-5-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<dialog id="hot_water_system_modal" class="modal modal-bottom sm:modal-end">
  <div
    class="modal-box p-0 !h-[97vh] my-auto mr-3.5 !w-full !max-w-[40.375rem] rounded-[1.25rem] overflow-y-auto flex flex-col justify-between"
  >
    <div class="flex justify-between p-5 w-full">
      <div class="flex flex-col">
        <h3 class="text-lg/6 font-medium">Add a hot water system</h3>
        <p class="text-sm/5 text-[var(--text--sub-600)]">
          Provide details on the building’s method of producing and distributing
          hot water.
        </p>
      </div>
      <button
        type="button"
        onclick="hot_water_system_modal.close()"
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      >
        <span
          data-icon="close-line"
          data-size="16"
          data-color="var(--icon--sub-600)"
        ></span>
      </button>
    </div>
    <form method="dialog" class="flex-1 overflow-y-auto hide-scrollbar">
      <div class="px-5 py-4 grid grid-cols-2 gap-x-2.5 gap-y-1">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Type of hot water system<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <select class="select w-full">
            <option disabled selected value="">Select an option</option>
            <option value="heat-pump">Heat pump water heater</option>
            <option value="boiler">Boiler</option>
            <option value="solar">Solar water heaters</option>
          </select>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Fuel type<span class="text-[var(--state--error--base)]">*</span>
          </legend>
          <select class="select w-full">
            <option disabled selected value="">Select an option</option>
            <option value="electricity">Electricity</option>
            <option value="light-fuel-oil">Light fuel oil</option>
            <option value="heavy-fuel-oil">Heavy fuel oil</option>
            <option value="lpg">Liquified petroleum gas (LPG)</option>
            <option value="natural-gas">Natural gas</option>
            <option value="coal">Coal</option>
            <option value="ignite">Ignite</option>
            <option value="diesel">Diesel</option>
          </select>
        </fieldset>
        <fieldset class="fieldset col-span-2">
          <legend class="fieldset-legend">
            System operating schedule<span
              data-icon="info-custom-fill"
              data-size="20"
              data-color="var(--icon--disabled-300)"
            ></span>
          </legend>
          <div class="w-full flex gap-1.5 items-center">
            <div class="flex-1">
              <label class="input validator w-full">
                <input type="number" placeholder="eg. 1" required />
                <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
                  >Hours / day</span
                >
              </label>
            </div>
            <div class="flex-1">
              <label class="input validator w-full">
                <input type="number" placeholder="eg. 1" required />
                <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
                  >days / week</span
                >
              </label>
            </div>
            <div class="flex-1">
              <label class="input validator w-full">
                <input type="number" placeholder="eg. 1" required />
                <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
                  >weeks / year</span
                >
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Fuel consumption<span class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <label class="input validator w-full">
            <input type="number" placeholder="eg. 343" />
            <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
              >Litres/m³</span
            >
          </label>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Hot water system power input<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <label class="input validator w-full">
            <input type="number" placeholder="eg. 343" />
            <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
              >Kw</span
            >
          </label>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset col-span-2">
          <legend class="fieldset-legend">
            Baseline hot water system efficiency<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <label class="input validator w-full">
            <input type="number" placeholder="eg. 343" />
          </label>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset col-span-2">
          <legend class="fieldset-legend">
            Baseline hot water system equipment efficiency level<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <label class="input validator w-full">
            <input type="number" placeholder="eg. 40" />
            <span class="text-sm/5 align-middle text-[var(--text--sub-600)]"
              >%</span
            >
          </label>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Installation of heat recovery system<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <select class="select w-full">
            <option disabled selected value="">Select an option</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            Number of hot water equipment<span
              class="text-[var(--state--error--base)]"
              >*</span
            >
          </legend>
          <label class="input validator w-full">
            <input type="number" placeholder="eg. 5" />
          </label>
          <p class="validator-hint">This field is required</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Energy efficiency label</legend>
          <select class="select w-full">
            <option disabled selected value="">Select an option</option>
            <option value="bee">BEE Star Rating</option>
            <option value="egat">EGAT</option>
          </select>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Number of stars</legend>
          <select class="select w-full">
            <option disabled selected value="">Select an option</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </fieldset>
      </div>
    </form>
    <div
      class="p-5 border-t border-[var(--stroke--soft-200)] flex gap-4 items-center justify-between w-full"
    >
      <button
        type="button"
        class="btn flex-1 btn-sm btn-outline text-[var(--text--sub-600)] border-[var(--stroke--soft-200)]"
      >
        Cancel
      </button>
      <button type="submit" class="btn flex-1 btn-sm btn-primary">Save</button>
    </div>
  </div>
</dialog>

<dialog id="hot_water_system_modal_delete" class="modal modal-middle">
  <div class="modal-box w-full max-w-[26.375rem] p-0">
    <div class="flex flex-col items-center p-5">
      <div
        class="flex items-center p-2 justify-center rounded-[var(--radius-8)] bg-[var(--state--warning--lighter)]"
      >
        <span
          data-icon="alert-fill"
          data-size="24"
          data-color="var(--state--warning--base)"
        ></span>
      </div>
      <h3 class="text-lg/6 font-medium mt-4">Are you sure?</h3>
      <p class="text-sm/5 text-[var(--text--sub-600)] text-center mt-1">
        You are about to remove or delete added hot water system. This will
        action will permanently remove it.
      </p>
    </div>
    <div
      class="p-5 border-t border-[var(--stroke--soft-200)] flex gap-4 items-center justify-between w-full"
    >
      <button
        class="btn btn-sm btn-outline text-[var(--text--sub-600)] border-[var(--stroke--soft-200)] flex-1"
        onclick="hot_water_system_modal_delete.close()"
      >
        Cancel
      </button>
      <button class="btn btn-sm btn-error flex-1">Remove</button>
    </div>
  </div>
</dialog>

<template id="hot-water-system-template">
  <div class="w-full flex flex-col">
    <button
      class="btn btn-outline w-fit"
      onclick="hot_water_system_modal.showModal()"
    >
      <span
        data-icon="add-large-fill"
        data-size="20"
        data-color="var(--icon--strong-950)"
      ></span>
      Add hot water system
    </button>
    <div
      class="divider before:h-[0.0625rem] after:h-[0.0625rem] before:bg-[var(--stroke--soft-200)] after:bg-[var(--stroke--soft-200)]"
    ></div>
    <ul class="grid grid-cols-1">
      <li
        class="flex items-center justify-between gap-1.5 w-full p-2.5 rounded-[var(--radius-8)] bg-[var(--bg--weak-50)] border border-[var(--stroke--soft-200)]"
      >
        <span
          data-icon="temp-cold-line"
          data-size="20"
          data-color="var(--icon--strong-950)"
          class="shrink-0 self-start"
        ></span>
        <div class="flex flex-col flex-1">
          <p class="text-sm/5 font-medium">Heat pump water system</p>
          <p class="text-sm/5 text-[var(--text--sub-600)] gap-0">
            <span class="border-r border-[var(--text--sub-600)] pr-1"
              >Fuel type: Electricity</span
            >
            <span>Power input: 400Kw</span>
          </p>
        </div>
        <div class="flex items-center gap-3">
          <button class="btn size-5 btn-ghost p-0">
            <span
              data-icon="edit-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
          <button
            class="btn size-5 btn-ghost p-0"
            onclick="hot_water_system_modal_delete.showModal()"
          >
            <span
              data-icon="delete-bin-5-line"
              data-size="16"
              data-color="var(--icon--strong-950)"
            ></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<template id="no-hot-water-system-template">
  <div class="w-full flex flex-col gap-3 items-center justify-center">
    <img src="/src/assets/hot-water-system.png" alt="hot-water System Image" />
    <p class="text-sm/5 font-medium">
      Click button below to add a hot water system
    </p>
    <button
      class="btn btn-primary"
      onclick="hot_water_system_modal.showModal()"
    >
      Add hot water system
    </button>
  </div>
</template>
