{% load custom_filters %}
<ul class="list-group">
    {% for component in structural_components %}
    <li class="list-group-item d-flex justify-content-between align-items-center position-relative">
        <!-- Component name and main content -->
        <div class="col-6">
            <h5 class="mb-1">{{ component.assembly_name }}</h5>
            <div class="d-flex flex-column">
                <span class="text-muted ms-1">{{ component.assembly_classification }}</span>
                <span class="text-muted ms-1">Quantity: {{ component.quantity|floatformat:"-2" }}{{ component.unit|superscript_units|safe }}</span>
            </div>
        </div>

        <!-- Emissions (centered) -->
        <div class="col-3 d-flex justify-content-center align-items-center">
            <span class="badge border border-success text-success bg-transparent rounded-pill" style="font-size: medium;"> Carbon: {{ component.emissions }}kg CO2eq/m</span>
        </div>

        <!-- Action Buttons -->
        <div class="col-3 d-flex justify-content-end align-items-center gap-2">
            <a href="{% url 'component_edit' assembly_id=component.assemblybuilding_id building_id=building_id %}{% if simulation %}?simulation=true{% endif %}" class="btn btn-secondary">Edit</a>
            <button class="btn btn-danger"
                    {% if simulation %}
                    hx-delete="{% url 'building' building_id=building_id %}?component={{ component.assemblybuilding_id }}" 
                    {% else %}
                    hx-delete="{% url 'building_simulation' building_id=building_id %}?component={{ component.assemblybuilding_id }}" 
                    {% endif %}
                    hx-target="#item-list" 
                    hx-swap="innerHTML">
                Delete
            </button>
        </div>
    </li>
    {% endfor %}
</ul>