{% if building_id %}
<div class="container mb-0">
  <span class="text-muted small">
    *If the data is available in the form of total quantity used per material, please select “Add from BoQ”. If material quantities are available per structural components (foundation, bottom floor, roof,.. etc.) use “Add component”. (For more detail please refer to BEAT handbook)
  </span>
</div>
<a
  class="btn btn-primary m-2 mt-3"
  href="{% url 'boq' building_id=building_id %}?simulation={{simulation}}"
  >Add from BoQ</a
>
<button
  class="btn btn-primary m-2 mt-3"
  hx-get="{% url 'component' building_id=building_id %}?add_component=step_1&simulation={{simulation}}"
  hx-target="#modal-body"
  hx-swap="innerHTML"
>
  Add component
</button>
{% else %} Please save the building before adding any components {% endif %}

<div id="modal" class="modal fade" tabindex="-1">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <div class="modal-content">
      <div id="modal-body"></div>
    </div>
  </div>
</div>

<div id="item-list">
  {% include "pages/building/structural_info/assemblies_list.html" %}
</div>

<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<!-- Custom JavaScript -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Ensure Bootstrap modal is initialized
    const modalElement = document.getElementById("modal");
    console.log("Modal Element:", modalElement);
    const modal = new bootstrap.Modal(modalElement);

    // Listen for HTMX swaps to show modal
    htmx.on("htmx:afterSwap", (e) => {
      if (e.detail.target.id === "modal-body") {
        modal.show();
      }
    });
  });
</script>
