<form class="grid grid-cols-2 gap-x-2 gap-y-1">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Building type<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full">
      <select 
        id="building-type-select"
        name="building_type"
        class="select w-full"
        hx-get="/select_lists/?building_categories=1"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
      >
        <option value="">Pick a building type</option>
        {% for category in building_categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Type of apartments<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full">
      <select 
        id="apartment-type-select"
        name="apartment_type"
        class="select w-full"
        hx-get="/select_lists/"
        hx-trigger="change from:#building-type-select"
        hx-target="this"
        hx-swap="innerHTML"
        hx-vals='js:{"building_category": document.getElementById("building-type-select").value}'
      >
        <option value="">Pick a type of apartments</option>
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset col-span-2">
    <legend class="fieldset-legend">
      Area climate type<span class="text-[var(--state--error--base)]">*</span>
    </legend>
    <label class="w-full flex relative">
      <select 
        id="climate-type-select"
        name="climate_type"
        class="select w-full"
        hx-get="/select_lists/?climate_zones=1"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
      >
        <option value="">Select climate type</option>
      </select>
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Assessment period (years)<span class="text-[var(--state--error--base)]"
        >*</span
      >
    </legend>
    <label class="input validator w-full">
      <input name="assessment_period" type="number" placeholder="eg. 10" required />
    </label>
    <p class="validator-hint">This field is required</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Construction year</legend>
    <label class="input w-full">
      <input name="construction_year" type="text" placeholder="eg. 2020" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Total floor area <span class="text-[var(--text--sub-600)]">(m²)</span>
    </legend>
    <label class="input w-full">
      <input name="total_floor_area" type="number" placeholder="eg. 340" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">m²</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Conditioned floor area
      <span class="text-[var(--text--sub-600)]">(m²)</span>
      <span
        data-icon="info-custom-fill"
        data-size="20"
        data-color="var(--icon--disabled-300)"
      ></span>
    </legend>
    <label class="input w-full">
      <input name="conditioned_floor_area" type="number" placeholder="eg. 400" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">m²</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Room cooling temperature</legend>
    <label class="input w-full">
      <input name="room_cooling_temperature" type="number" placeholder="eg. 10" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Number of floors below ground</legend>
    <label class="input w-full">
      <input name="floors_below_ground" type="number" placeholder="eg. 3" />
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Energy consumption of building
      <span class="text-[var(--text--sub-600)]">(%)</span>
    </legend>
    <label class="input w-full">
      <input name="energy_consumption" type="number" placeholder="eg. 10" />
      <span class="text-sm/5 align-middle text-[var(--text--sub-600)]">%</span>
    </label>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Energy monitoring & control systems</legend>
    <label class="w-full">
      <select name="energy_monitoring_control_systems" class="select w-full">
        <option disabled selected value="">eg Yes</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </label>
  </fieldset>
</form>
