{% load static %}

<footer
      class="bg-[var(--bg--base-700)] pt-5 pb-8 grid place-items-center gap-5"
    >
      <div class="flex gap-4">
        <a href="https://alcbt.gggi.org/" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'images/logos/ALCBT_logo.png' %}" alt="ALCBT logo" width="206" />
        </a>
        <img src="{% static 'images/logos/sponsor-2.png' %}" alt="LOGO" width="174" />
      </div>
      <p
        class="text-center text-xs/xs text-[0.688rem] font-medium uppercase text-[var(--bg--black-0)]"
      >
        Copyright © {{ current_year }} • Terms of Use & Privacy Policy
      </p>
    </footer>