{% load static %}
{% load i18n %}

<footer
      class="bg-[var(--bg--base-700)] pt-5 pb-8 grid place-items-center gap-5 mt-10"
    >
      <div class="flex items-center gap-6">
        <a href="https://alcbt.gggi.org/" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'images/logos/ALCBT_logo.png' %}" alt="ALCBT logo" width="206" class="mt-4" />
        </a>
        <img src="{% static 'images/logos/sponsor-2.png' %}" alt="LOGO" width="340" />
      </div>
      <p
        class="text-center text-xs/xs text-[0.688rem] font-medium uppercase text-[var(--bg--black-0)]"
      >
        {% translate "Copyright" %} © {{ current_year }} • <a class='link-secondary' href="{% url 'terms_of_use' %}">{% translate "Terms of Use" %}</a> & <a class='link-secondary' href="{% url 'privacy_policy' %}">{% translate "Privacy Policy" %}</a>
      </p>
    </footer>