{% load static %}
<footer class="footer mt-auto">
  <div class="container pt-2">
    <div class="row justify-content-between">
      <div class="col-auto mb-1">
        <a href="https://alcbt.gggi.org/">
          <img src="{% static 'images/logos/ALCBT_logo.png' %}" style="height: 6rem;" alt="ALCBT logo">
        </a>
        <img src="{% static 'images/logos/BMWK+IKI_transparent_Web_en.png' %}" style="height: 6rem;" alt="ALCBT logo">
      </div>
      <!-- Policy & Disclaimer -->
      <div class="col-auto mb-1">
        <div class="d-flex flex-column text-muted" style="font-size: 0.875rem;">
          <!-- Terms / Privacy links -->
          <span>
            Copyright © 2025 •
            <a
              href="{% url 'terms_of_use' %}"
              class="text-muted text-decoration-underscore"
            >
              Terms of Use
            </a>
            &amp;
            <a
              href="{% url 'privacy_policy' %}"
              class="text-muted text-decoration-underscore"
            >
              Privacy Policy
            </a>
          </span>
          <!-- Disclaimer -->
          <span class="text-center mt-4 fw-bold border badge border border-dark text-dark bg-dark-subtle rounded-pill" style="font-size: 1rem;">
            Under Active Development
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
