{% load crispy_forms_tags %}
{% if template_edit %}
<form hx-post="{% url 'template_edit' assembly_id=assembly_id %}?simulation={{simulation}}">
{% elif assembly_id %}
<form hx-post="{% url 'component_edit' assembly_id=assembly_id building_id=building_id %}?simulation={{simulation}}">
{% else %}
<form hx-post="{% url 'component' building_id=building_id %}?simulation={{simulation}}">
{% endif %}
    {% csrf_token %}
    <div class="row">
        <!-- Category and Technique in the first row -->
        <div class="col-6">
            {{ form.assembly_category |as_crispy_field }} 
        </div>
        <div class="col-6">
            {{ form.assembly_technique |as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <!-- Name and Type in the second row -->
        <div class="col-md-6">
            {{ form.name |as_crispy_field }}
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="me-2 flex-grow-1">
                {{ form.mode |as_crispy_field }}
            </div>
            <div class="ms-2 flex-grow-1">
                {{ form.country |as_crispy_field }}
            </div>
            <div class="d-flex gap-3">
                <div class="form-check form-switch">
                    {{ form.public |as_crispy_field }}
                </div>
                <div class="form-check form-switch">
                    {{ form.is_template |as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Quantity and comment in the third wrow -->
        <div class="col-6">
            <div class="row">
                <div class="col-md-7">
                    <label for="{{ form.quantity.id_for_label }}" class="form-label">
                        {{ form.quantity.label }}*
                    </label>
                    <div class="input-group mb-3">
                    {{ form.quantity }}
                    {{ form.dimension }}
                    </div>
                </div>
                <!-- Life-span field removed as per issue #267 -->
                <!-- <div class="col-md-5">
                    <label for="{{ form.reporting_life_cycle.id_for_label }}" class="form-label">
                        {{ form.reporting_life_cycle.label }}*
                    </label>
                    <div class="input-group mb-3">
                        {{ form.reporting_life_cycle }}
                        <span class="input-group-text" id="reporting_life_cycle_addon">years</span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-6">
            {{ form.comment |as_crispy_field }}
        </div>
    </div>


    <input type="hidden" name="action" value="form_submission">
    {% if template_assembly and not assembly_id %}
        <input type="hidden" name="template_id" value="{{ template_assembly.id }}">
    {% endif %}

    <h4>Materials</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#epdSearchModal">
        Add from EPD library
    </button>
    <div class="my-3 border-0 d-flex justify-content-center"
        style="min-height: 150px; max-height: 500px; overflow-y: auto;">
        <span id="select_epd_text" 
                class="text-warning position-absolute card card-body"
                style="font-weight: bold;"
                {% if selected_epds %} hidden {% endif %}>
            Please select at least one EPD
        </span>

        <ul id="selected_epds" class="list-group w-100">
            {% for epd in selected_epds %}
                {% include "pages/assembly/selected_epd.html" with epd=epd %}
            {% endfor %}
        </ul>
    </div>

    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <a {% if template_edit %}
               href="{% url 'assembly_template_management' %}"
               {% elif simulation %}
               href="{% url 'building_simulation' building_id=building_id %}"
               {% else %}
               href="{% url 'building' building_id=building_id %}"
               {% endif %}
               class="btn btn-secondary">Cancel</a>
            <button 
                id="save_button" 
                type="submit" 
                class="btn btn-primary" 
                {%if not selected_epds%}disabled{%endif%}>
                Save
            </button>
        </div>
    </div>
</form>

<div id="epdSearchModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title w-100 text-center">EPD Library</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div id="epd-list">
                    {% include "pages/assembly/epd_list.html" %}
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const epdList = document.getElementById('epd-list');
    const dimensionSelect = document.getElementById('dimension-select');
    const selectedEpdList = document.getElementById('selected_epds');
    const saveButton = document.getElementById('save_button');
    const selectEpdText = document.getElementById('select_epd_text');

    // Remove material from selected list
    selectedEpdList.addEventListener('click', (event) => {
        if (event.target.classList.contains('remove-epd')) {
            event.preventDefault(); // Prevent form submission
            event.stopPropagation(); // Stop the event from bubbling up
            
            // Compare with 1 because this code is executed before hx-post response
            if (selectedEpdList && selectedEpdList.children.length === 1) {
                saveButton.disabled = true;
                selectEpdText.hidden = false;
            }

            const epdId = event.target.dataset.id;
            // Optionally, re-enable the "Add" button in the library
            const addButton = document.querySelector(`#epd-list button.add-epd[data-id="${epdId}"]`);
            if (addButton) {
                addButton.disabled = false;
            }
        }
    });
    // Add material to selected list
    epdList.addEventListener('click', (event) => {
        if (event.target.classList.contains('add-epd')) {
            saveButton.disabled = false;
            selectEpdText.hidden = true;
        }
    });

    dimensionSelect.addEventListener('change', (event) => {
        // Remove all materials from the selected list
        const list = document.querySelector('#selected_epds');
        if (list) {
            const items = list.querySelectorAll('li'); // Select all <li> elements in the list
            items.forEach(li => li.remove()); // Iterate through each <li> and remove it
        }
    })
});
</script>