 {% load crispy_forms_tags %}
{% if assembly_id %}
<form hx-post="{% url 'component_edit' building_id=building_id assembly_id=assembly_id %}{% if simulation %}?simulation=true{% endif %}" hx-target="#epd-list" hx-vals='{"action": "filter", "dimension": "{{dimension}}" }'>
{% else %}
<form hx-post="{% url 'component' building_id=building_id %}{% if simulation %}?simulation=true{% endif %}" hx-target="#epd-list" hx-vals='{"action": "filter", "dimension": "{{dimension}}" }'>
{% endif %}
    <!-- Create an identifier for this post request -->
    {% crispy epd_filters_form %}
</form> 

<ul class="list-group">
    {% for epd in epd_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center position-relative" data-id="{{ epd.id }}">
        <div class="col-6">
            <h5 class="mb-1">{{ epd.name }}</h5>
            <div class="d-flex flex-column">
                <span class="text-muted ms-1">{{ epd.country }}</span>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-end align-items-center gap-2">
            <button class="btn btn-success add-epd"
                    data-id="{{ epd.id }}"
                    hx-post=""
                    hx-vals='{"action": "select_epd", "id": "{{ epd.id }}", "dimension": "{{dimension}}" }'
                    hx-target="#selected_epds"
                    hx-swap="beforeend"
                    {% if epd.id|stringformat:"s" in selected_epds_ids %}disabled{% endif %}>
            Add
            </button>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="mt-3">
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if epd_list.has_previous %}
            <li class="page-item">
                <a hx-get="{% url 'component' building_id=building_id %}?page={{ epd_list.previous_page_number }}{% if simulation %}&simulation=true{% endif %}" hx-target="#epd-list" hx-swap="innerHTML" class="page-link">Previous</a>
            </li>
            {% endif %}
            {% for num in epd_list.paginator.page_range %}
            <li class="page-item {% if num == epd_list.number %}active{% endif %}">
                <a hx-get="{% url 'component' building_id=building_id %}?page={{ num }}{% if simulation %}&simulation=true{% endif %}" hx-target="#epd-list" hx-swap="innerHTML" class="page-link">{{ num }}</a>
            </li>
            {% endfor %}
            {% if epd_list.has_next %}
            <li class="page-item">
                <a hx-get="?page={{ epd_list.next_page_number }}{% if simulation %}&simulation=true{% endif %}" hx-target="#epd-list" hx-swap="innerHTML" class="page-link">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>