<div class="modal-header">
    <h5 class="modal-title w-100 text-center">Component Editor</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <div class="text-center pb-3">
        <p><strong>What type of component to add?</strong></p>
      <div class="row justify-content-center g-3">
        <!-- Option 1: Select from Defaults -->
        <div class="col-md-6 d-flex">
          <div class="card p-3 flex-grow-1 d-flex flex-column">
            <h6 class="card-title">Select from Defaults</h6>
            <p class="text-secondary small flex-grow-1">Choose an existing assembly from the list of predefined options.</br>This is best for a LCA quick assessment.</p>
            <button class="btn btn-primary mt-2" disabled>Select</button>
          </div>
        </div>
        <!-- Option 2: Create Custom -->
        <div class="col-md-6 d-flex">
          <div class="card p-3 flex-grow-1 d-flex flex-column">
            <h6 class="card-title">Create Custom</h6>
            <p class="text-secondary small flex-grow-1">Create a new custom component from the materials list.</br>This is best for a detailed LCA assessment.</p>
            <a href="{% url 'component' building_id=building_id %}{% if simulation %}?simulation=true{% endif %}" class="btn btn-primary mt-2">Select</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  