<li class="d-flex  justify-content-between align-items-center list-group-item" 
    id="epd-{{epd.id}}" 
    data-id="{{ epd.id }}">
    <div>
        <h5 class="mb-1">{{ epd.name }}</h5>
        <div class="d-flex flex-column">
            <span class="text-muted ms-1">{{ epd.country.name }}</span>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <p class="text-muted mb-0">{{ epd.selection_text }}</p>
            <input type="number" 
                    name="material_{{ epd.id }}_quantity" 
                    class="form-control form-control-sm mx-2" 
                    style="width: 100px;" 
                    placeholder="Quantity"
                    {% if epd.selection_quantity%}value="{{ epd.selection_quantity}}"{% endif %}
                    required>
            <input name="material_{{ epd.id }}_unit" 
                    class="form-select form-select-sm mx-2 bg-secondary pe-none" 
                    style="width: 100px;" 
                    value="{{ epd.selection_unit }}"
                    readonly>
        </div>
        <div class="d-flex flex-column gap-2">
            <a  class="btn btn-danger remove-epd">  
                <i class="bi bi-arrow-up-right-square"></i>
            </a>
            <button class="btn btn-danger remove-epd"  
                    data-id="{{ epd.id }}"
                    hx-post=""
                    hx-vals='{"action": "remove_epd"}'
                    hx-target="#epd-{{epd.id}}"
                    hx-swap="outerHTML">
                Remove
            </button>
        </div>
    </div>
</li>