<li class="d-flex align-items-center list-group-item" 
    id="epd-{{epd.id}}" 
    data-id="{{ epd.id }}">
    <div style="width: 40%;" >
        <h5 class="mb-1" title="{{epd.name}}">{{ epd.name|slice:":30" }}{%if epd.name|length > 30 %}... {% endif %}</h5>
        <div class="d-flex flex-column">
            <span class="text-muted ms-1">{{epd.country}}</span>
        </div>
    </div>
    <div class="d-flex" style="width: 40%;" >
        <div class="d-flex align-items-center">
            <p class="text-muted mb-0 mx-2">{{ epd.selection_text }}</p>
            {% if epd.selection_unit == "unknown" %} 
            <input type="number" 
                   name="material_{{ epd.id }}_quantity" 
                   class="form-control form-control-sm"
                   placeholder="Quantity"
                   style="width: 100px;" 
                   {% if epd.selection_quantity%}value="{{ epd.selection_quantity}}"{% endif %}
                   required>
            {% else %}
            <div class="input-group input-group-sm ms-auto">
                <input type="number" 
                       name="material_{{ epd.id }}_quantity" 
                       class="form-control"
                       placeholder="Quantity"
                       style="width: 100px;" 
                       {% if epd.selection_quantity%}value="{{ epd.selection_quantity}}"{% endif %}
                       required>
                <input name="material_{{ epd.id }}_unit" 
                       class="input-group-text" 
                       style="width: 100px;" 
                       value="{{ epd.selection_unit }}"
                       readonly>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column ms-auto gap-2">
        <a href="{{epd.source}}" 
            target="_blank" 
            rel="noopener noreferrer"
            class="align-self-end">  
            <i class="bi bi-arrow-up-right-square"></i>
        </a>
        <button class="btn btn-danger remove-epd"  
                data-id="{{ epd.id }}"
                hx-post=""
                hx-vals='{"action": "remove_epd"}'
                hx-target="#epd-{{epd.id}}"
                hx-swap="outerHTML">
            Remove
        </button>
    </div>
</li>