{% load custom_filters %}
<li class="d-flex align-items-center list-group-item" 
    id="epd-{{epd.id}}" 
    data-id="{{ epd.id }}">
    <div class="col-5" >
        <h6 class="mb-1" title="{{epd.name}}">{{ epd.name|truncatechars:75}}</h6>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
                <span class="text-muted ms-1 me-3">{{ epd.country }}</span>
                <textarea 
                type="text"
                name="material_{{ epd.id }}_description"
                class="form-control form-control-sm"
                rows="2"
                placeholder="Add Description ..."
                maxlength="255">{% if epd.description%}{{epd.description}}{% endif %}</textarea>
            </div>
        </div>
    </div>
    <div class="col-5 container" >
        <div class="ms-5">
            <label for="material_{{ epd.id }}_quantity" class="text-muted">{{ epd.selection_text }}</label>
            {% if epd.selection_unit == "unknown" %} 
            <input type="number"
                   id="material_{{ epd.id }}_quantity"  
                   name="material_{{ epd.id }}_quantity" 
                   class="form-control form-control-sm w-auto"
                   min="1"
                   {% if epd.selection_quantity%}value="{{ epd.selection_quantity}}"{% endif %}
                   required>
            <input name="material_{{ epd.id }}_unit"
                       value="{{ epd.selection_unit }}"
                       hidden>
            {% else %}
            <div class="input-group input-group-sm">
                <input type="number" 
                       id="material_{{ epd.id }}_quantity"  
                       name="material_{{ epd.id }}_quantity" 
                       class="form-control w-auto"
                       placeholder="Quantity"
                       min="0.01"
                       {% if epd.selection_unit == "percent" %}max="100"{% endif %}
                       step="{{ epd.selection_unit|get_step }}"
                       {% if epd.selection_quantity%}value="{{ epd.selection_quantity }}"{% endif %}
                       style="max-width: 80px;"
                       required>

                       <input name="material_{{ epd.id }}_unit" 
                       class="input-group-text w-auto"
                       style="max-width: 80px;"
                       value='{{ epd.selection_unit|slice:":10"|strip }}'
                       title="{{ epd.selection_unit }}"
                       readonly>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column ms-auto gap-2">
        <a href="{{epd.source}}" 
            target="_blank" 
            rel="noopener noreferrer"
            class="align-self-end">  
            <i class="bi bi-arrow-up-right-square"></i>
        </a>
        <button class="btn btn-danger remove-epd"  
                data-id="{{ epd.id }}"
                hx-post=""
                hx-vals='{"action": "remove_epd"}'
                hx-target="#epd-{{epd.id}}"
                hx-swap="outerHTML">
            Remove
        </button>
    </div>
</li>