{% if materials_selected %}
    <ul class="list-group">
        {% for material in materials_selected %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ material.name }}
            <button class="btn btn-secondary"
                    hx-delete="{% url 'assembly' %}" 
                    hx-vals='{"material": "{{ material.id }}"}'
                    hx-target="#selected-materials" 
                    hx-swap="innerHTML">
                Delete
            </button>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p id="no-materials-message" class="text-muted">No materials selected</p>
{% endif %}